/* RESET BÁSICO */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
@font-face {
  font-family: "Paquito";
  src: url("fonts/Paquito-Variable.woff2") format("woff2");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.logoyminombre {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: self-start;
  margin-bottom: 40px;
  margin-left: 150px;
  margin-top: 50px;
}

.logoyminombre p {
  font-family: "GeneralSans", system-ui, sans-serif;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 400;
}
.logoyminombre h1 {
  font-family: "Paquito", system-ui, sans-serif;
  margin-top: 0px;
}
.logoportada {
  width: 150px;
  height: auto;
  margin-bottom: auto;
}
.imagencentral {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.imagencentral img {
  height: 1050px;
  width: auto;
}
.imagencentral img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  opacity: 0.8;
}