/* RESET */
*,
*::before,
*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body{
  height:100%;
}

:root{
  --color-fondo:#f8f8f8;
  --color-primario:#be1622;
  --color-texto:#000;
}

/* FUENTES */
@font-face{
  font-family:"Paquito";
  src:url("fonts/Paquito-Variable.woff2") format("woff2");
  font-weight:300 700;
  font-style:normal;
  font-display:swap;
}

@font-face{
  font-family:"GeneralSans";
  src:url("fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight:200 700;
  font-style:normal;
  font-display:swap;
}

body{
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  font-family:GeneralSans, system-ui, sans-serif;
}

/* MEDIA */
img, video, canvas, svg{
  display:block;
  max-width:100%;
  height:auto;
}

a{
  text-decoration:none;
  color:inherit;
}

/* LOGO */
.logoportada{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:50px;
  margin-bottom:40px;
}

.logoportada:hover{
  transform:scale(1.05);
  transition:transform 0.3s;
  opacity: 0.8;
}

.logoportada2{
  height:150px;
}

/* CABECERA */
.cabecera{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom:40px;
}

.cabecera h1{
  font-family:Paquito, system-ui, sans-serif;
  font-size:2.5rem;
}

/* CARRUSEL */
.contenedorimagenes{
  position: relative;
  display:flex;
  overflow-x:auto;
  scroll-behavior:smooth;
  gap:20px;
  height:400px;
  padding:30px;
  background:var(--color-primario);
  
}

.contenedorimagenes img{
  height:100%;
  border-radius:8px;
  object-fit:cover;
  transition:transform 0.3s;
}

.contenedorimagenes img:hover{
  transform:scale(1.05);
}

/* SECCIÓN CARTELES */
.habilidadcarteleria{
  padding:60px 10%;
  background:#f5f5f5;
}

.habilidadcarteleria h2{
  font-family:Paquito, system-ui, sans-serif;
  text-align:center;
  font-size:2.2rem;
  margin-bottom:50px;
}

.habilidadrrss{
  padding:60px 10%;
  background:#f5f5f5;
}

.habilidadrrss h2{
  font-family:Paquito, system-ui, sans-serif;
  text-align:center;
  font-size:2.2rem;
  margin-bottom:50px;
}
.habilidadeditorial{
  padding:60px 10%;
  background:#f5f5f5;
  align-items: center;
}

.habilidadeditorial h2{
  font-family:Paquito, system-ui, sans-serif;
  text-align:center;
  font-size:2.2rem;
  margin-bottom:50px;
}

/* GRID DE CARTELES */
.gridcarteles{
display:flex;
flex-direction:column;
gap:70px;
}

/* PROYECTO */

.cartel{
display:flex;
align-items:flex-start;
gap:40px;
width:100%;
}

.cartel img{
width:350px;
border-radius:10px;
}

.texto{
max-width:650px;
}

.cartel h3{
font-family:Paquito, system-ui, sans-serif;
font-size:1.3rem;
margin-bottom:10px;
text-align:left;
}

.cartel p{
font-size:0.9rem;
line-height:1.5;
color:#444;
text-align:left;
}

/* ÍNDICE */
.indice {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0 50px 0;
}

.indice a {
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 120px;
}

.indice a:hover {
  background: black;
  color: white;
}

/* VISOR */
#visor{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.8);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:999;
  padding:20px;
}

#visor img{
  max-width:90%;
  max-height:85%;
  border-radius:10px;
}

#cerrar{
  position:absolute;
  top:30px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}
/* BOTÓN VOLVER ARRIBA*/
#volverarriba {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  background-color: var(--color-primario);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
}

/* MEDIA QUERIES */
/* TABLET */
@media (max-width:768px){

  .cabecera h1{
    font-size:2rem;
  }

  .contenedorimagenes{
    height:300px;
    padding:20px;
    gap:12px;
  }

  .habilidadcarteleria{
    padding:40px 5%;
  }

  .habilidadcarteleria h2{
    font-size:1.8rem;
    margin-bottom:30px;
  }

  /* imagen arriba, texto abajo desde tablet */
  .cartel{
    flex-direction:column;
    align-items:center;
    gap:20px;
  }

  .cartel img{
    width:100%;
    max-width:500px;
    border-radius:8px;
  }

  .texto{
    max-width:100%;
  }

  .cartel h3{
    text-align:center;
  }

  .indice{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:15px;
    justify-items:center;
    margin:0 auto 50px auto;
    padding:20px;
  }

  .indice a{
    width:100%;
    padding:8px 12px;
    font-size:15px;
    border-radius:25px;
  }
}
 
/* MÓVIL */
@media (max-width:480px){
 
  .logoportada2{
    height:100px;
  }
 
  .logoportada{
    margin-top:30px;
    margin-bottom:25px;
  }
 
  .cabecera h1{
    font-size:1.5rem;
  }
 
  .cabecera{
    margin-bottom:25px;
  }
 
  .contenedorimagenes{
    height:200px;
    padding:15px;
    gap:12px;
  }
 
  .contenedorimagenes img{
    min-width:100px;
  }
 
  .habilidadcarteleria{
    padding:30px 5%;
  }
 
  .habilidadcarteleria h2{
    font-size:1.6rem;
    margin-bottom:30px;
  }
 
  .gridcarteles{
    gap:40px;
  }
 
  /* imagen arriba, texto abajo en móvil */
  .cartel{
    flex-direction:column;
    align-items:center;
    gap:20px;
  }
 
  .cartel img{
    width:100%;
    border-radius:8px;
  }
 
  .texto{
    max-width:100%;
  }
 
  .cartel h3{
    font-size:1.1rem;
    text-align:center;
  }
 
  .cartel p{
    font-size:0.85rem;
    text-align:left;
  }
 
  .indice{
    grid-template-columns:1fr;
    gap:10px;
  }
 
  .indice a{
    padding:6px 10px;
    font-size:14px;
    border-radius:20px;
  }
 
  #cerrar{
    top:20px;
    right:25px;
    font-size:35px;
  }
 
  #volverarriba{
    bottom:0.8rem;
    right:0.8rem;
    padding:7px 11px;
    font-size:14px;
  }
}

