/* RESET BÁSICO */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
:root{
  --color-fondo: #f8f8f8;
  --color-primario: #be1622;
  --color-texto: #000000;
}
@font-face {
    font-family: "Paquito";
    src: url("fonts/Paquito-Variable.woff2") format("woff2");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GeneralSans";
    src: url("fonts/GeneralSans-Variable.woff2") format("woff2");
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* MEDIA */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
.logoportada {
 display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  
}
.logoportada2 {
    height: 150px;
}
.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;

    font-family: general sans;
}
.cabecera h1 {
    font-family: paquito;
    font-size: 2.5rem;
    font-weight: 700;
    
}
.cabecera p {
    font-family: general sans;
    font-size: 16px;
    margin-bottom: 60px; }

    @media (max-width: 768px) { 
        .cabecera h1 {
            font-size: 26px;
        }
    }
   
.contenedorimagenes {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  height: 400px;                  /* altura base */
  padding: 30px;
  background-color: var(--color-primario);
}

.contenedorimagenes img {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
                 /* evita que se achiquen en pantallas pequeñas */
  transition: transform 0.3s;
}

.contenedorimagenes img:hover {
  transform: scale(1.05);
}

/* Responsive para tablets */
@media (max-width: 1024px) {
  .contenedorimagenes {
    height: 300px;
    padding: 20px;
  }
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .contenedorimagenes {
    height: 200px;
    padding: 20px;
  }
  .contenedorimagenes img {
    height: 100%;
    min-width: 100px;            /* asegura que las imágenes no queden demasiado pequeñas */
  }
}